<section class="seccion">
    <h2 class="text-center my-5 heading">Proyectos - Grado Animación</h2>
    <div class="container-xl">
        <div class="row">
            <div class="col-12 col-md-4 mb-3">
                <div class="card text-center">
                    <img src="/assets/img/Proyecto1.png" alt="imagen 1" class="card-img-top" width="270">
                    <div class="card-body">
                        <h5 class="title-card">Isla flotante</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="card text-center">
                    <img src="/assets/img/Proyecto2.png" alt="imagen 2" class="card-img-top" width="270">
                    <div class="card-body">
                        <h5 class="title-card">Villa japonesa</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="card text-center">
                    <img src="/assets/img/Estancia.png" alt="imagen 3" class="card-img-top" width="270">
                    <div class="card-body">
                        <h5 class="title-card">Estancia japonesa</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card text-center">
                    <img src="/assets/img/Proyecto3.png" alt="imagen Curso2" class="card-img-top" width="270">
                    <div class="card-body">
                        <h5 class="title-card">Nave - Dragon Ball</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card text-center">
                    <img src="/assets/img/Proyecto3.png" alt="imagen Curso2" class="card-img-top" width="270">
                    <div class="card-body">
                        <h5 class="title-card">Nave - Dragon Ball</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card text-center">
                    <img src="/assets/img/Proyecto3.png" alt="imagen Curso2" class="card-img-top" width="270">
                    <div class="card-body">
                        <h5 class="title-card">Nave - Dragon Ball</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p>&copy; 2025 Jose Luis. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>