<section class="seccion">
    <h2 class="text-center my-5 heading">Proyectos</h2>
    <div class="container-xl">
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card text-center">
                    <img src="/assets/img/Proyecto1.png" alt="Página Web" class="card-img-top" width="270">
                    <div class="card-body">
                        <h5 class="title-card">Isla flotante</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card text-center">
                    <img src="/assets/img/Proyecto2.png" alt="imagen Curso1" class="card-img-top" width="270">
                    <div class="card-body">
                        <h5 class="title-card">Villa japonesa</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card text-center">
                    <img src="/assets/img/Proyecto3.png" alt="imagen Curso2" class="card-img-top" width="270">
                    <div class="card-body">
                        <h5 class="title-card">Nave - Dragon Ball</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card text-center">
                    <img src="/assets/img/Proyecto3.png" alt="imagen Curso2" class="card-img-top" width="270">
                    <div class="card-body">
                        <h5 class="title-card">Nave - Dragon Ball</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card text-center">
                    <img src="/assets/img/Proyecto3.png" alt="imagen Curso2" class="card-img-top" width="270">
                    <div class="card-body">
                        <h5 class="title-card">Nave - Dragon Ball</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card text-center">
                    <img src="/assets/img/Proyecto3.png" alt="imagen Curso2" class="card-img-top" width="270">
                    <div class="card-body">
                        <h5 class="title-card">Nave - Dragon Ball</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>